%svg{ xmlns: 'http://www.w3.org/2000/svg', version: '1.1', width: 30, height: 480 }

  :sass
    .staff
      stroke-width: 2

  %line.staff{ x1: 15, x2: 15, y1: 0, y2: 480, style: 'stroke: rgb(0, 0, 0)' }
